

.cont-mapa {
   height: 750px;
    /* background-color: red; */
}

.container-fluid {
    padding-right: 100px;
    padding-left: 100px;
}


.fondo-azul {
    background-color: rgb(26,53,164);
    color: #fff;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 2em;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius:  5px 15px;
    font-family: 'Anton', sans-serif;    
}



