body
{
    background-color: rgb(202,221,241);
    color: blue;
}

.titulo
{
    color: #01306E;
    font-family: 'Yellowtail', cursive;
    text-shadow: 2px 2px #fff;
}

.fondo-azul {
    background-color: rgb(26,53,164);
    color: #fff;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 0.7em;
    margin-left: 1px;
    margin-right: 1px;
}

.cursiva {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

