body
{
    background-color: rgb(202,221,241);
    color: blue;
}


.titulo1
{
    color:  rgb(26,53,164);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.titulo2
{
    color:  rgb(26,53,164);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.titulo3
{
    color:  rgb(255,0,0);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}


.cursiva {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.img-peq {
    max-width: 70%;
    height: auto;    
}

.borde-redondo1 {
    border-radius: 15px;
}

.img-play {
    max-width: 100%;
    height: auto;
    margin-top: 1.2em;
    cursor: pointer;
}