body
{
    background-color: rgb(202,221,241);
    color: blue;
}

.titulo1
{
    color:  rgb(26,53,164);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.titulo2
{
    color:  rgb(26,53,164);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.titulo3
{
    color:  rgb(255,0,0);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.fondo-azul {
    background-color: rgb(26,53,164);
    color: #fff;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 0.6em;
    margin-left: 1px;
    margin-right: 1px;
    border-radius:  5px 15px;
}

.cursiva {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.img-peq {
    max-width: 70%;
    height: auto;
}

