body
{
    background-color: rgb(202,221,241);
    color: blue;
}


.titulo1
{
    color:  rgb(26,53,164);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.titulo2
{
    color:  rgb(26,53,164);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.titulo3
{
    color:  rgb(255,0,0);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.tituloVideos{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: small;
    background-color: rgb(178, 34, 34);
}

#titulo-Videos{
    font-family: 'Roboto', sans-serif;
    color: rgb(24, 7, 3);
    font-size: 20px;
    margin-left: 15px;
    margin-top: 12px;

}

#tituloCompartir{
    font-family: 'Roboto', sans-serif;
    color: rgb(24, 7, 3);
    font-size: 20px;
    margin-top: 12px;
    margin-left: 15px;
}

.barraTituloAcercaDe{
    background-color: rgba(178, 34, 34);
    height: 10px;
}

.textoAcercaDe{
    font-family: 'Roboto', sans-serif;
}

#tituloAcercaDe{
    font-family: 'Roboto', sans-serif;
    color: rgb(24, 7, 3);
    font-size: 20px;
    margin-top: 4px;
    margin-left: 15px;
}

.pieVideos{
    background-color: #C5DEF4;
    padding-top: 0%;
    padding-bottom: 0%;
}
.descripcionVideos{
    font-family: 'Roboto', sans-serif;
    color: rgb(24, 33, 44);
    font-size: 14px;
}

.cursiva {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.img-peq {
    max-width: 70%;
    height: auto;    
}

.img-sociales {
    max-width: 70%;
    height: auto; 
    cursor: pointer;   
}

.borde-redondo1 {
    border-radius: 15px;
}

.img-play {
    max-width: 100%;
    height: a
    uto;
    margin-top: 1.2em;
    cursor: pointer;
}